@import "../../../../baseConfig/config.less";
/**-----------------------导航栏----------------------------*/

.settingarea{
    background: @blockbacground;
    li{
        height: 46px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        border-bottom: 1px solid @linecolor;
        line-height: 46px;
        span{
            font-size: 1.4rem;
            padding: 0 5px;
        }
        i{
            font-size: 1.6rem;
            float: right;
        }
    }
}

