@import "../../../../baseConfig/config.less";

.settingarea{
    background: @blockbacground;
    li{
        height: 46px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        border-bottom: 1px solid @linecolor;
        line-height: 46px;
        span{
            font-size: 1.4rem;
            padding: 0 5px;
        }
        i{
            font-size: 2rem;
            &.right{
                font-size: 1.6rem;
                float: right;
            }
        }
    }
}
.more{
    overflow: hidden;
    padding-top: 10px;
    p{
        line-height: 30px;
        font-size: 1.2rem;
        padding: 0 10px;
    }
    h2{
        line-height: 46px;
        background: @blockbacground;
        padding: 0 10px;
        span{
            color: @goldencolor;
            float: right;
        }
    }
}
