html,body{
    margin: 0;
    padding: 0;
    font-family: 'STXihei';
}
.ui-btn{
    cursor: pointer;
}
.zf-head{
    position: relative;
    height: 220/192rem;
    >.img{
        position: absolute;
        width: 346/192rem;
        left: 780/192rem;
        top: 63/192rem;
    }
    >.line{
        position: absolute;
        width: 1200/192rem;
        left: (1920-1200)/2/192rem;
        bottom: 38/192rem;
        height: 1px;
        background: #a0a0a0;
    }
}
.banner{
    position: relative;
    height: 810/192rem;
    >.img{
        position: relative;
        width: 100%;
        height: 100%;
    }
    >.info{
        position: absolute;
        left: 20%;
        top: 313/192rem;
        height: 50px;
        width: 454/192rem;
        >.title{
            position: absolute;
            top: 0;
            width: 100%;
            height: 14px;
            line-height: 14px;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
            color: #FFFFFF;
            &::after{
                content: '';
                position: absolute;
                bottom: -30/192rem;
                width: 90/192rem;
                height: 2px;
                left: (454-90)/2/192rem;
                background: #a0a0a0;
            }
        }
        >.content{
            position: absolute;
            bottom: 0;
            width: 100%;
            min-height: 12px;
            line-height: 12px;
            font-size: 12px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}
.page-line{
    position: relative;
    width: 1.6*1200/192rem;
    margin: 162/192rem auto 0;
    height: 1px;
    background: #a0a0a0;
    >.zf-word{
        position: absolute;
        height: 46/192rem;
        width: 267/192rem;
        left: (1.6*1200-267)/2/192rem;
        top: -46/2/192rem;
        background: #FFFFFF url("images/week-fan-word-1.png") center no-repeat;
        background-size: 60%;
    }
    >.content{
        position: absolute;
        height: 12px;
        width: 2.0*267/192rem;
        left: (1.6*1200-2.0*267)/2/192rem;
        top: -6px;
        line-height: 12px;
        font-size: 12px;
        background: #FFFFFF;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
}
.mode-list{
    position: relative;
    width: 1.6*1200/192rem;
    height: 1.6*1824/192rem;
    margin: 0 auto;
    >.mode-1{
        position: absolute;
        top: 1.6*130/192rem;
        right: 0;
        height: 1.6*586/192rem;
        width: 1.6*630/192rem;
        background: #FFFFFF url("images/2.png") center no-repeat;
        background-size: 100%;
    }
    >.mode-2{
        position: absolute;
        top: 1.6*243/192rem;
        left: 0;
        height: 1.6*394/192rem;
        width: 1.6*647/192rem;
        background: #FFFFFF url("images/1.png") center no-repeat;
        background-size: 100%;
        > .mode-info{
            position: absolute;
            top: -35px;
            height: 32px;
            width: 180px;
            left: 10%;
            > .title{
                position: absolute;
                top: 0;
                word-spacing: 3px;
                letter-spacing: 1px;
                font-size: 12px;
            }
            >.content{
                position: absolute;
                bottom: 0;
                word-spacing: 3px;
                letter-spacing: 1px;
                font-size: 12px;
            }
        }
        >.click-btn{
            display: none;
            position: absolute;
            top: 51%;
            right: -40px;
            height: 30px;
            width: 90px;
            text-align: center;
            line-height: 30px;
            border: 4px double #000000;
            font-size: 12px;
        }
    }
    >.mode-3{
        position: absolute;
        bottom: 1.6*242/192rem;
        left: 0;
        height: 1.6*544/192rem;
        width: 1.6*462/192rem;
        background: #FFFFFF url("images/3.png") center no-repeat;
        background-size: 100%;
        >.mode-info{
            position: absolute;
            width: 100px;
            height: 30px;
            top: -40px;
            left: 20%;
            >.img{
                position: absolute;
                top: 0;
                height: 12px;
                width: 80%;
                background: url("images/week-fan-word-2.png") center no-repeat;
                background-size: cover;
            }
            >.content{
                position: absolute;
                bottom: 0;
                width: 140px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
    >.mode-4{
        position: absolute;
        bottom: 1.6*142/192rem;
        right: 0;
        height: 1.6*739/192rem;
        width: 1.6*615/192rem;
        background: #FFFFFF url("images/4.png") center no-repeat;
        background-size: 100%;
        >.mode-info{
            position: absolute;
            width: 100px;
            height: 30px;
            bottom: -40px;
            left: 10px;
            >.img{
                position: absolute;
                top: 0;
                height: 12px;
                width: 80%;
                background: url("images/week-fan-word-2.png") center no-repeat;
                background-size: cover;
            }
            >.content{
                position: absolute;
                bottom: 0;
                width: 140px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
}
.entrances{
    position: relative;
    height: 1.6*(127 + 617 + 715 + 715 + 617 + 200)/192rem;
    width: 1.6*1200/192rem;
    margin: 0 auto;
    >.item >.title{
        position: absolute;
        bottom: 2.4*60/192rem;
        left: 1.6*25/192rem;
        color: #FFFFFF;
        font-size: 14px;
        word-spacing: 3px;
        //letter-spacing: 1px;
    }
    >.item >.content{
        position: absolute;
        bottom: 1.6*20/192rem;
        left: 1.6*25/192rem;
        color: #FFFFFF;
        font-size: 12px;
        word-spacing: 3px;
        //letter-spacing: 1px;
    }
    .i1{
        position: absolute;
        top: 1.6*127/192rem;
        left: 0;
        height: 1.6*617/192rem;
        width: 1.6*1200/192rem;
        background: #000000 url("images/5.png") center no-repeat;
        background-size: 100%;
    }
    .i2{
        position: absolute;
        top: 1.6*(127 + 617 + 30)/192rem;
        right: 0;
        height: 1.6*751/192rem;
        width: 1.6*1200/192rem;
        background: #000000 url("images/6.png") center no-repeat;
        background-size: 100%;
    }
    .i3{
        position: absolute;
        top: 1.6*(127 + 617 + 715 + 30 + 60)/192rem;
        left: 0;
        height: 1.6*751/192rem;
        width: 1.6*1200/192rem;
        background: #000000 url("images/7.png") center no-repeat;
        background-size: 100%;
    }
    .i4{
        position: absolute;
        top: 1.6*(127 + 617 + 715 + 715 + 30 + 60 + 60)/192rem;
        right: 0;
        height: 1.6*617/192rem;
        width: 1.6*1200/192rem;
        background: #000000 url("images/8.png") center no-repeat;
        background-size: 100%;
    }
}
.footer{
    position: relative;
    margin: 0 auto;
    min-height: 20px;
    background: #000000 url("images/footer-bg.png") center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10px 5%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 20px;
    word-spacing: 5px;
    >a{
        white-space:nowrap;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        &:hover{
            color: #FFFFFF;
        }
        img{
            height: 20px;
            width: 20px;
            vertical-align: middle;
        }
    }
}