html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "sans-serif", "STXihei";
  background: #190d33;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}
table,
td,
tr,
th {
  font-size: 1.2rem;
}
img {
  vertical-align: top;
  border: 0;
}
ol,
ul {
  list-style: none;
}
b,
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
b {
  font-size: 1.2rem;
  font-weight: normal;
}
address,
cite,
code,
em,
th {
  font-weight: normal;
  font-style: normal;
}
.fB {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #000;
}
input {
  outline: none;
}
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1453955334_844267.eot');
  src: url('//at.alicdn.com/t/font_1453955334_844267.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1453955334_844267.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1453955334_844267.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1453955334_844267.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  vertical-align: middle;
}
.remind {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 90000;
}
.remind .shade {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: .3;
  z-index: 99000;
}
.remind .aloneTip {
  position: absolute;
}
.aloneTip {
  position: fixed;
  z-index: 99999;
  top: 40%;
  left: 50%;
  margin-left: -30%;
  min-height: 40px;
  width: 60%;
  padding: 10px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.aloneTip.black {
  background: #333;
  color: #fff;
}
.aloneTip p {
  line-height: 30px;
  text-align: center;
}
.aloneTip div {
  border-radius: 10px;
  background: #ff6a56;
  width: 80px;
  height: 25px;
  color: #fff;
  line-height: 25px;
  margin: 10px auto;
  text-align: center;
}
.aloneTip img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
}
.quikLogin {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9000;
}
.quikLogin .shade {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: .3;
  z-index: 9900;
}
.quikLogin .aloneTip {
  position: absolute;
}
.panel {
  position: fixed;
  z-index: 9999;
  top: 40%;
  left: 50%;
  margin-left: -45%;
  min-height: 60px;
  width: 90%;
  padding: 10px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.panel.black {
  background: #333;
  color: #fff;
}
.panel .login_input {
  margin: 10px auto;
}
.panel .login_input input {
  text-indent: 10px;
  margin: 10px 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #F9F6F6;
  font-size: 1.2rem;
  background: transparent;
  border-bottom: 1px solid #5e607a;
}
.panel .login_input p {
  height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 1.4rem;
}
.panel .login_input div {
  padding: 5px 10px;
  margin: 10px;
}
.panel .login_input .left {
  float: left;
}
.panel .login_input .right {
  float: right;
}
.panel img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
}
.suspendWarp {
  overflow: hidden;
}
.suspendWarp .suspendingArea {
  position: fixed;
  right: 0;
  top: 70%;
  z-index: 9999;
}
.suspendWarp .suspendingArea .Button {
  width: 50px;
  height: 50px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #000;
  line-height: 50px;
  text-align: center;
}
.suspendWarp .suspendingArea .Button.guess {
  font-size: 1.2rem;
}
.suspendWarp .suspendingArea .Button.backTop i {
  font-size: 2rem ;
}
.suspendWarp .functionArea {
  position: fixed;
  z-index: 9999;
  bottom: 30%;
  right: 10px;
  width: 100px;
  padding: 0 10px;
  border: 1px solid #5e607a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #fff;
  color: #666;
}
.suspendWarp .functionArea:after,
.suspendWarp .functionArea:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
}
.suspendWarp .functionArea:after {
  border-width: 7px;
  border-top-color: #FFFFFF;
  left: 88px;
  bottom: -14px;
}
.suspendWarp .functionArea:before {
  border-width: 8px;
  border-top-color: #5e607a;
  left: 87px;
  bottom: -16px;
}
.suspendWarp .functionArea .suspend_sub {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #5e607a;
}
.suspendWarp .functionArea .suspend_sub:last-child {
  border: none;
}
.suspendWarp .functionArea .suspend_sub i,
.suspendWarp .functionArea .suspend_sub span {
  display: inline-block;
  text-align: center;
  font-style: normal;
}
.suspendWarp .functionArea .suspend_sub span {
  height: 40px;
  text-indent: 5px;
  line-height: 40px;
  font-size: 1rem;
}
.suspendWarp .functionArea .suspend_sub i {
  height: 40px;
  width: 20px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 40px;
}
.suspendWarp .functionArea .suspend_sub.active i,
.suspendWarp .functionArea .suspend_sub.active span {
  color: #f4c158;
}
.noContent {
  display: none;
  margin: 100px 0;
  height: 300px;
  width: 100%;
  line-height: 300px;
  color: #999;
  font-size: 1.6rem;
  text-align: center;
}
.guessLike {
  width: 100%;
  height: auto;
  padding-top: 10px;
}
.guessLike .top {
  position: relative;
  height: 50px;
  width: 100%;
}
.guessLike .top h2 {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 1.4rem;
}
.guessLike .top span {
  position: absolute;
  right: 10px;
  top: 0;
  display: inline-block;
  height: 100%;
  width: auto;
  line-height: 50px;
}
.guessLike .guessLike_goodsBlock {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 5px 0 0 5px;
  font-size: 1.2rem;
}
.guessLike .guessLike_goodsBlock ul {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  overflow: auto;
}
.guessLike .guessLike_goodsBlock ul li {
  width: 33.333%;
  float: left;
  padding: 5px 5px 0 0;
  box-sizing: border-box;
  color: #fff;
}
.guessLike .guessLike_goodsBlock ul li img {
  width: 100%;
}
.guessLike .guessLike_goodsBlock ul li div {
  height: 30px !important;
  line-height: 30px;
  padding: 0;
  background-color: #2c233e;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-box-flex: 1;
  height: inherit;
}
.guessLike .guessLike_goodsBlock ul li p {
  line-height: 30px;
  font-weight: 600;
  padding-bottom: 5px;
  background-color: #2c233e;
}
.guessLike .guessLike_goodsBlock ul li p b {
  font-style: normal;
  color: #FF6A56;
}
.loading {
  text-align: center;
  padding: 10px 0;
  line-height: 30px;
}
.loading img {
  height: 26px;
  width: 26px;
  margin: 2px 10px;
  clear: both;
}
.iconfont.iconBlackActive {
  color: #B3B3B3;
}
.iconfont.iconWhiteActive {
  color: #EEEEEE;
}
.iconfont.iconYellowActive {
  color: #EFA511;
}
.textTabBlackActive {
  background: #32254A;
  color: #B3B3B3;
}
.bottomActive {
  opacity: 0.8;
}
.textTabWhiteDisabled {
  background: #B9B9B9;
}
.text {
  color: #999;
  font-size: 1.2rem;
  line-height: 45px;
  padding: 0 10px;
}
.coupon_content {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 0 10px ;
}
.coupon_content .coupon_item {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-image: url(images/cashCoupon1.png);
  background-position: center;
  background-size: 100% 100%;
}
.coupon_content .coupon_item .itemLeft {
  float: left;
  position: relative;
  width: 35%;
}
.coupon_content .coupon_item .itemLeft p {
  width: 100%;
  line-height: 100px;
  text-indent: 20px;
  font-size: 3rem;
  color: #ff6a56;
  font-weight: 600;
  text-align: center;
}
.coupon_content .coupon_item .itemLeft span {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -30px;
  text-indent: 20px;
  font-size: 1rem;
}
.coupon_content .coupon_item .itemRight {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  padding: 10px;
  float: right;
  color: #000;
}
.coupon_content .coupon_item .itemRight h2 {
  line-height: 30px;
  font-size: 1.3rem;
}
.coupon_content .coupon_item .itemRight h3 {
  line-height: 20px;
  font-size: 1.1rem;
}
.coupon_content .coupon_item .itemRight p {
  line-height: 20px;
  font-size: 0.8rem;
}
.coupon_content .coupon_item .itemRight span {
  position: absolute;
  bottom: 5px;
  right: 10px;
  line-height: 20px;
  font-size: 0.6rem;
}
h1 {
  line-height: 20px;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px;
}
