@import "../../../../baseConfig/config.less";
/**-----------------------收货地址----------------------------*/
.warpper{
    overflow: hidden;
    min-height: 100%;
    .tip{
        width: 100%;
        height: 40px;
        padding: 5px 10px;
        box-sizing: border-box;
        line-height: 30px;
        color: @goldencolor;
        font-size: 1.3rem;
        text-align:right;
    }
    .content{
        overflow: hidden;
        width: 100%;
        min-height: 100%;
    }
    .con_warp{
        width: 100%;
        overflow: hidden;
        border-top: 1px solid @linecolor;
        li{
            min-height: 80px;
            overflow: hidden;
            background: @blockbacground;
            border-bottom: 1px solid @linecolor;
            .con_left{
                width: 90%;
                float: left;
                padding: 10px;
                box-sizing: border-box;
                .top{
                    height: 20px;
                    line-height: 20px;
                    box-sizing: border-box;
                    span{
                         float: left;
                        font-size: 1.2rem;
                        width: 30%;
                        line-height: 20px;
                        color: #fff;
                        &:last-child{
                            width: 40%;
                        }
                    }
                }
                p{
                    line-height: 20px;
                    color: #a2a2a2;
                }
            }
            i{
                width: 10%;
                float: right;
                line-height: 80px;
                text-align: center;
                font-size: 2.0rem;
            }
            &:first-child{
                background-image: url(images/hirePlan1.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                p{
                    color: #fff;
                }
            }
            
            &:nth-child(2){
                background-image: url(images/hirePlan2.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                 p{
                    color: #fff;
                }
            }
        }
    }
}
.footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    border-top: 1px solid @linecolor;
    span{
        float: left;
        display: block;
        width: 46%;
        margin: 0 2%;
        line-height: 30px;
        text-align: center;
        font-size: 1.3rem;
        border: 1px solid #eee;
        box-sizing: border-box;
        .border-radius(2px);
        &.active{
            background: @goldencolor;
        }
    }
    
}
