@import "../../../baseConfig/config.less";
//筹款支付
.hint{
    height: 36px;
    width: 100%;
    background: #000;
    line-height: 36px;
    color: #fff;
    text-indent: 10px;
    font-size: 1.1rem;
}

.headArea{
    position: relative;
    width: 100%;
    min-height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    background-image: url(images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 1px solid @linecolor;
    .head_message{
        padding: 15px 0;
        overflow: hidden;
        .pic{
            float: left;
            width: 15%;
            height: 50px;
            box-sizing: border-box;
            img{
                width: 45px;
                height: 45px;
                border: 2px solid @goldencolor;
                .border-radius(100%)
            }
        }
        .message{
            float: right;
            box-sizing: border-box;
            width: 80%;
            min-height: 50px;
            padding: 10px;
            .border-radius(10px);
            background-color: rgba(244,193,88,0.8);
            position: relative;
            &:before{
                  position: absolute;
                  left: -22px;
                  border: 10px solid transparent;
                  border-right: 12px solid rgba(244,193,88,0.8);
                  width: 0;
                  height: 0;
                  content: ' ';
                  top: 20px;
              }
            p{
                font-size: 1.1rem;
                line-height: 20px;
            }
        }
    }
    //总金额
    .oderTotal{
        width: 40%;
        height: 71px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 5px;
        border: 1px solid @goldencolor;
        h3{
            width: 100%;
            line-height: 30px;
            text-align: center;
            font-size: 1.3rem;
            color: @goldencolor;
        }
    }
    //剩余金额
    .restSum{
        height: 50px;
        width: 100%;
        .text{
            float: left;
            box-sizing: border-box;
            padding-right: 10px;
            width: 50%;
            height: 40px;
            line-height: 60px;
            text-align: right;
            font-size: 1.1rem;
            color: @goldencolor;
        }
        .progressBar{
            float: right;
            width: 50%;
            height: 40px;
            padding-top: 7px;
            position: relative;
            .progressText{
                position: relative;
                display: inline-block;
                padding: 0 5px;
                background: @goldencolor;
                .border-radius(3px);
                color: #190D33;
                font-size: 1.1rem;
                margin-bottom: 5px;
                &:before{
                    position: absolute;
                    left: 10px;
                    border: 3px solid transparent;
                    border-top: 4px solid @goldencolor;
                    width: 0;
                    height: 0;
                    content: ' ';
                    bottom: -7px
                }
            }
            .warpBar{
                position: relative;
                width: 90%;
                height: 8px;
                background: #4C4362;
                .border-radius(4px);
                .subBar{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 8px;
                    background: @goldencolor;
                    .border-radius(4px);
                }
            }
        }
    }
    //土豪一把
    .inputArea{
        height: 30px;
        width: 100%;
        padding: 5px 0;
        lable{
            float: left;
            width: 40%;
            color: @goldencolor;
            font-size: 1.2rem;
            line-height: 30px;
        }
        input{
            float: left;
            width: 28%;
            margin-right: 2%;
            min-height: 20px;
            line-height: 20px;
            border: none;
            background-color: #fff;
            outline: none;
            font-size: 1.2rem;
            padding: 5px 0;border-radius: 0;
            text-indent: 5px;
        }
        span{
            float: right;
            width: 30%;
            text-align: center;
            line-height: 20px;
            display: inline-block;
            padding: 5px 0;
            background: @goldencolor;
            color: #fff;
        }
    }
    .rules{
        font-size: 1rem;
        text-align: right;
        color: #bbb;
    }
}
//说明
.declare{
    padding:  10px;
    border-bottom: 1px solid @linecolor;
    h2{
        line-height: 26px;
        font-size: 1.2rem;
    }
    p{
        line-height: 20px;
        font-size:1.1rem
    }
}
//留言
.leaveMeseages{
    padding: 10px;
    border-bottom: 1px solid @linecolor;
    h2{
        line-height: 26px;
        font-size: 1.2rem;
    }
    textarea{
        width: 100%;
        height: 100px;
        padding: 5px;
        box-sizing: border-box;
        line-height: 20px;border-radius: 0;
    }
    .nickName{
        margin-top: 5px ;
        height: 30px;
        box-sizing: border-box;
        .checkbox{
            width: 30%;
            float: left;
        }
        .checkboxLable{
            display: block;
            height: 20px;
        line-height: 30px;
            i{
             font-size: 1.6rem; 
             vertical-align: top;  
            }
            span{
                font-size: 1.2rem;
            }
        }
        .checkboxLable.checked{
            color: @goldencolor;
        }
        input{
            width: 40%;
            float: left;
            border: none;
            min-height: 20px;
            line-height: 20px;
            font-size: 1.1rem;
            color: #666;
            text-indent: 5px;border-radius: 0;
            padding: 5px 0;
        }
    }
}
.goodsInfo{
    width: 100%;
    overflow: hidden;
    .title{
        height: 40px;
        line-height: 40px;
        font-size: 1.3rem;
        padding: 0 10px;
        border-bottom: 1px solid @linecolor;
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    }
}

//订单商品子项
.goodsItem{
    overflow: hidden;
    border-bottom: 1px solid @linecolor;
    background: @blockbacground;
    .img{
        float: left;
        width: 35%;
        img{
            width: 100%;
        }
    }
    .right{
        width: 65%;
        float: right;
        padding: 10px ;
        box-sizing: border-box;
        h2{
            font-size: @commonText;
            line-height: 20px;
        }
        p{
            
            font-size: @viceText;
            color: #999;
            line-height: 18px;
        }
        h3{
            font-size: @commonText;
            line-height: 30px;
            span{
                font-size: @commonText;
                padding: 0 3px;
            }
            b{
                font-size: @describText;
                text-decoration:line-through;
                color: #999;
            }
            i{
                float: right;
                font-size: @commonText;
            }
        }
    }
    &:last-child{
        border: none;
        margin-bottom: 10px;
    }
}
.totalNum{
    overflow: hidden;
    background: @blockbacground;
    margin-bottom: 10px;
    p{
        line-height: 30px;
        padding:0 10px;
        font-size:1.3rem ;
        span{
            float: right;
            font-size:1.3rem ;
        }
    }
    h3{
        display:block;
        padding:0 10px;
        line-height: 40px;
        border-top: 1px solid @linecolor;
        text-align: right;
        font-size:1.3rem ;
        span{
            color: #e41f1f;
            font-size:1.3rem ;
        }
    }
}
.submit{
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    span{
        display: block;
        width: 90%;
        line-height: 36px;
        margin: 20px 5%;
        text-align: center;
        font-size: @commonText;
        background: @goldencolor; 
        .border-radius(2px);
        &.negotiation{
            background:#2dd6b7
        }
        &.crowdfunding{
           background: #FF6A56;
        }
        &.kompanio{
            background: #3a256e;
        }
    }
}

.progressArea p{
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    line-height: 20px;
}
.circle {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    background: #f4c158;
   .pie_left, .pie_right {
        width:70px; 
        height:70px;
        position: absolute;
        top: 0;left: 0;
    }
    .left, .right {
        width:70px; 
        height:70px;
        background:#190d33;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .pie_right, .right {
        clip:rect(0,auto,auto,35px);
    }
    .pie_left, .left {
        clip:rect(0,35px,auto,0);
    }
    .mask {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        left: 7.5px;
        top: 7.5px;
        background: #190d33;
        position: absolute;
        text-align: center;
        line-height: 55px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }
}
 