@import "../../../baseConfig/config.less";
/**-----------------------商品图片----------------------------*/
@detailFontcolor:#dddddd;

//商品详情评价
.pingjiaWarp{
    background: #fff;
    color: #000;
    overflow: hidden;
    height: 100%;
    .pingjiaTag{
    	position:fixed;
    	top:0;
    	width:100%;
        padding: 10px;
        background: #fff;
        z-index: 9999;
        border-bottom: 1px solid #ddd;
        label{
            display: inline-block;
            position: relative;
            padding: 2px 10px;
            border: 1px solid @goldencolor;
            border-radius: 15px;
            color: @goldencolor;
            margin: 5px;
            &.active{
                background-color:@goldencolor ;
                color: #fff;
                border: none;
            }
        }
        div{
            height: 20px;
            text-align: center;
            i{
                font-size: 1.6rem;
            }
        }
    }
}

.pingjiaContent{
    overflow: hidden;
    li{
        border-bottom: 1px solid #ddd;
    }
}
.content_item{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    .content_item_top{
       overflow: hidden;
        width: 100%;
        .pic{
            float: left;
            width: 32px;
            height: 32px;
            margin: 4px;
            span{
                display: block;
                .border-radius(100%);
                img{
                    width: 100%;
                    border: 2px solid #2dd6b7;
                    box-sizing: border-box;
                    .border-radius(100%)
                }
            }
        }
        .name{
            float: left;
            width: 150px;
            height: 40px;
            padding-left: 10px;
            p{
                display: block;
                float: left;
                padding: 0 5px;
                font-size: 1.2rem;
                line-height: 40px;
                color: #000;
            }
            span{
                line-height: 40px;
                float: left;
                color: @goldencolor;
                font-size: #1.1rem;
            }
        }
    }
    .pingjiaText{
        font-size: 1.1rem;
        line-height: 20px;
        color: #000;
    }
    .pingjiaAttribute{
        font-size: 1rem;
        color: #666;
    }
    .content_pic{
        overflow: auto;
        box-sizing: border-box;
        margin: 0 0 0 -5px;
        span{
            float: left;
            width: 33.333%;
            box-sizing: border-box;
            padding: 5px 0 0 5px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }  
} 

.myGoodsCommentWrapper{
    position: fixed;
    top:23px;
    bottom: 0;
    z-index: 9;
    width: 100%;
    overflow: hidden;
}
//图册
.bigPicviewport {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    P{
        position: absolute;
        top: 0;
       width: 100%;
        text-align: center;
        font-size: 1.4rem;
        color: #fff;
        line-height: 40px;
    }
    .bigPic_wrapper {
        position: relative;
        top: 50%;
        width: 100%;
        margin: 0 auto;
        
    }
    .bigPic_scroller {
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        height: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        background-color: #444;
    }
    .bigPic_slide {
        height: 100%;
        float: left;
    }
    
    .bigPic_painting {
        height: 100%;
        background-size: 100% 100%;
    }

}