@import "../../../baseConfig/config.less";
/**---------------------------------------------------*/

.mainArea{
    background: @blockbacground;
    li{
        height: 46px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        border-bottom: 1px solid @linecolor;
        line-height: 46px;
        span{
            font-size: 1.4rem;
            padding: 0 5px;
        }
        div{
            display: inline-block;
            width:45px;
            height: 45px;
            padding: 0 10px;
            img{
                width: 100%;
                vertical-align: middle;
            };
        }
        i{
            font-size: 2rem;
            float: right;
        }
    }
}

